{% load static %}

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
  crossorigin="anonymous"
/>

<main class="bg-gray-50 vh-100 d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <div class="card shadow-lg mx-auto" style="max-width: 480px;">
      <div class="card-body p-5">
        <div class="mb-4">
          
        </div>
        <h2 class="text-2xl lg:text-3xl font-bold text-gray-900 mb-4">
          Deu tudo certo!
        </h2>
        <p class="text-sm font-medium text-gray-500 mb-4">
          Sua senha foi redefinida com sucesso. Você pode agora prosseguir e realizar
          <a 
            href="{% url 'login' %}" 
            class="text-cyan-600 text-decoration-none fw-bold"
          >
            Login
          </a>.
        </p>
        <a 
          href="{% url 'login' %}" 
          class="btn btn-cyan text-white btn-block mt-3"
        >
          Ir para Login
        </a>
      </div>
    </div>
  </div>
</main>
